##############################################
# REQUIRED INFO #
# everything in this section is required to be set up in order for the script to properly run
##############################################

[General]
# where do you want files to be extracted/copied to before processing?
path = D:\Processing\
# remove torrent from uTorrent when done seeding?
remove = True
# send a notification when done processing a torrent?
notify = False
# send a notification when removing a torrent?
notifyRemove = False

[Client]
# you must turn on webui in utorrent settings
port = 8080
username = admin
password =
##############################################


##############################################
# OPTIONAL INFO #
# everything in this section can be left alone
##############################################

[Extensions]
# set what extensions apply to each type of file, pre-configured for many different extensions
video = .avi|.mp4|.mkv|.mpg|.mpeg|.m4v|.mov|.wmv|.ogm|.flv
subtitle = .srt|.idx|.sub
readme = .nfo|.ini|.txt
archive = .rar|.7z|.zip|.001

ignore = sample

## NOTIFICATIONS ##
# set which notifications you would like to receive and enter relevant info

[Email]
# pre-configured for gmail, just fill in your login information
enable = false
SMTPServer=smtp.gmail.com
SMTPPort=587
username=
password=
emailTo=

[PushBullet]
# pushbullet is a free application that allows you to send notifications
# across multiple devices including iOS, android, windows(desktop), chrome, firefox
# you can get your api token from: https://www.pushbullet.com/account
enable = false
token =
# list of devices names as they appear on pushbullet.com, separated by a "|"
# leave blank to send notification to all devices
# example: devices = Chrome|My Phone|Windows 7
devices = 
##############################################